/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f8fc;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fffbec;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    border: 3px solid #ffca3a;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #ff6b6b;
}

#advice {
    font-size: 1.25rem;
    margin: 1rem 0;
    color: #196ad3;
}

#advice-id{
    color:#ff6b6b;
    font-size: 18px;
    font-weight: 400px;
}

button {
    background-color: #ffe66d;
    color: #2b2d42;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #ffca3a;
    transform: scale(1.05);
}
